.contactIcon {
    color: black;
}

.contactIcon2 {
    color: white;
}

.contactIcon2:hover {
    color: yellow;
}

.contactIcon:hover {
    color: blue;
}

.profilePhoto {
    width: 125px;
    height: 125px;
    border-radius: 70px;
}
